.red{
	color:red;
	font-weight: bold;
}

.green{
	color:green;
}

.bold{
	font-weight: bold;
}

#lessonText{
	font-family:courier, courier new, serif;
	background-color:white;
	width:678px;
	font-size:20px;
	border: 1px solid grey;
	margin:auto;
}

#timer{
	font-size:30px;
}

.debugTable td, .debugTable th{
	border: 1px solid black;
	border-width: 1px;
}

h1{
	padding:25px;
}

h2{
	padding:15px;
}

h3{
	padding:10px;
}

#wrapper{
	background-color:#F0F8FF;
	padding-bottom:50px;
	text-align:center;
}

#debug{
	background-color:white;
	width:100%;
	height:100%;
	text-align:left;
}

.card{
	margin:auto;
}