{% extends "base.html" %}
{% block content %}
<div id="debug">
	<h2>All users in system</h2>
	<div>
		<table class="debugTable">
			<tr><th>userId</th><th>username</th><th>password</th><th>email</th></tr>
			{% for user in allUsers %}
				<tr>
					<td>{{ user._userId }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.password }}</td>
					<td>{{ user.email }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<hr>
	<h2>All exercises recorded</h2>
	<div>
		<table class="debugTable">
			<tr><th>exerciseId</th><th>userId</th><th>lesson</th><th>time in seconds</th><th>number of mistakes</th><th>characters per minute</th><th>exercise date time</th></tr>
			{% for exercise in allExercises %}
				<tr>
					<td>{{ exercise._exerciseId }}</td>
					<td>{{ exercise.userId }}</td>
					<td>{{ exercise.lesson }}</td>
					<td>{{ exercise.time }}</td>
					<td>{{ exercise.numberOfMistakes }}</td>
					<td>{{ exercise.charactersPerMinute }}</td>
					<td>{{ exercise.exerciseDateTime }}</td>				
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{%endblock %}



