{% extends "base.html" %}
{% block content %}
<h1>Learn speed typing</h1>
{% if userMessage|length > 0 %}
<div class="alert alert-success" role="alert">
	{{ userMessage }}
</div>
{% endif %}
{% if userError|length > 0 %}
<div class="alert alert-danger" role="alert">
	{{ userError }}
</div>
{% endif %}
{% if username|length > 0 %}
<!-- UZIVATEL JE PRIHLASENY -->
<div class="card bg-light mb-3" style="width: 35rem;">
	<ul class="list-group list-group-flush">  
		<li class="list-group-item"><h2>Welcome back {{ username }}!</h2></li>
		<li class="list-group-item"><h3>Choose a lesson to play</h3>
			<div class="card">
				<ul class="list-group list-group-flush">  
			{% for text in texts %}
			<li class="list-group-item"><a href="/lesson?lesson={{text}}">{{text}}</a></li>
			{% endfor %}
				</ul>
			</div>
		</li>
		<li class="list-group-item"><h3><a href="/myStatistics">My statistics</a></h3></li>
	</ul>
</div>

{% else %}
<!-- UZIVATEL NENI PRIHLASENY -->
<div class="card" style="width: 35rem;">
  <ul class="list-group list-group-flush">
	<li class="list-group-item"><h2><a href="/quickGame">Quick game without registration</a></h2></li>
	<li class="list-group-item"><h2><a href="/registration">Registration</a></h2></li>
	<li class="list-group-item"><h2>Log in</h2>
	<div>
		<form method="POST" href="#">
			<div class="mb-3">
				<label for="username" class="form-label">Username</label>
				<input type="text" class="form-control" id="username" name="username">			
			</div>		
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" name="password">
			</div>		
			<button type="submit" id="submit" name="submit" value="login" class="btn btn-primary">Log in</button>		
		</form>
	</div></li>
  </ul>
</div>
{% endif %}
{%endblock %}
