{% extends "base.html" %}
{% block customJavaScripts %}
<script src="static/typingScript.js"></script>
{% endblock %}
{% block content %}
<input type="hidden" id="lesson" value="{{ request.args.get('lesson') }}">
<h2>Please type down following text:</h2>
<div id="lessonText">
	{{ lessonText|safe }} <!--  kdyz tam neni to safe tak se spany budou vypisovat a nechape je to jak ohtml kod-->
</div>
<div class="text-center">
	<div id="timer" >
		<span id="minutes">00</span>:<span id="seconds">00</span>:<span id="tens">0</span>
	</div>
</div>
<div id="hands">
	<img id="handsImg" src="static/prsty/prstNenalezen.jpg" />
</div>
{% endblock %}