{% extends "base.html" %}
{% block content %}
<h1>My statistics</h1>
<div class="card" style="width: 30rem;">
  <ul class="list-group list-group-flush">
	<li class="list-group-item">Your average speed is <span class="bold">{{ averageCharactersPerMinute }}</span> characters per minute (CPM).</li>
	<li class="list-group-item">Your worst speed is <span class="bold">{{ worstSpeed }}</span> characters per minute (CPM).</li>
	<li class="list-group-item">Your best speed is <span class="bold">{{ bestSpeed }}</span> characters per minute (CPM).</li>
    <li class="list-group-item">You played <span class="bold">{{ totalNumberOfExcerises }}</span> excercises in total.</li>
	<li class="list-group-item">You made <span class="bold">{{ averageNumberOfMistakes }}</span> of mistakes per excercises on average.</li>					
	<li class="list-group-item">Your most played lesson is <span class="bold">{{ mostPlayedLesson }}</span>. You played this lesson <span class="bold">{{ mostPlayedLessonCount }}</span> times.</li>
	<li class="list-group-item">Your least played lesson is <span class="bold">{{ leastPlayedLesson }}</span>. You played this lesson <span class="bold">{{ leastPlayedLessonCount }}</span> times.</li>	
  </ul>
</div>
{% endblock %}