{% extends "base.html" %}
{% block content %}
<h2>Quick game without registration</h2>
<h3>Pick a lesson:</h3>
<div class="card bg-light mb-3" style="width: 35rem;">
	<ul class="list-group list-group-flush">  
		{% for text in texts %}
		<li class="list-group-item"><a href="/lesson?lesson={{text}}">{{text}}</a></li>
		{% endfor %}
	</ul>
</div>
{%endblock %}
