{% extends "base.html" %}
{% block content %}
<h2>Registration</h2>
<div>
	<div class="card" style="width: 30rem;">
	  <div class="card-body">
		{% if userMessage|length > 0 %}
		<div class="alert alert-success" role="alert">
			{{ userMessage }}
		</div>
		{% endif %}
		<form action="#" method="POST">
			<div class="mb-3">
				<label for="username" class="form-label">Username</label>
				<input type="text" class="form-control" id="username" name="username">			
			</div>		
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" name="password">
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Email address</label>
				<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>		
			<button type="submit" name="submit" id="submit" value="register" class="btn btn-primary">Register</button>		
		</form>
		</div>
	</div>
</div>
{%endblock %}
