{% extends "db_contents.html" %}
   {%block content%}
       <table>
       <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
        </tr>
           <tr>
               <th>{{ user.id }}</th>
               <th>{{ user.first_name }}</th>
               <th>{{ user.email }}</th>
           </tr>
       </table>
{%endblock %}
