{% extends "base.html" %}{% block title %}Learn speed Typing!{% endblock %}
{%block content%}
<h1>Learn speed typing, press key to start.</h1>
<br>
<div class="wrapper"></div>
    <div class="content-box"></div>
        <div class="typing-text"></div>
            <div>{{ testovaciText|safe}}</div> <!--djinga vsechny vetsitka prepise na &gt a lt, musime osetrit!-->
        </div>
        <div class="content"> </div>
            <ul class="result-details">
                <li class="time">
                    <p>Time Left: </p>
                    <span> <b>60</b>s</span>
                </li>
                <li class="mistake">
                    <p>Mistakes:</p>
                    <span>0</span>
                </li>
                <li class="wpm">
                    <p>WPM:</p>
                    <span>0</span>
                </li>
                <li class = "cpm">
                    <p>Mistakes:</p>
                    <span>0</span>
                </li>
            </ul>
            <button type="submit" class="btn btn-primary">Try Again</button>
        </div>
    </div>
</div>

<ul class="list-group list-group-flush" id="notes">
{%for note in user.notes%}
<li class="list-group-item">
    {{note.data}}
    <button type="button" class="close" onClick="deleteNote({{note.id}})">
        <span aria-hidden="true">&times;</span>
    </button>
</li>

{%endfor%}
</ul>
<br>
<form method="POST">
    <textarea name="note" id="note" class="form-control bg-light" placeholder="Zde nám prosím napiště připomínky k našemu programu."></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-dark">Add Note</button>
    </div>
</form>
<br>
{% endblock %}
