{% extends "base.html" %}{% block title %}Sign up!{% endblock %}
{%block content%}
<form method="POST">
    <h3 align = "center"> Sign up</h3>
    <div class = "form-group">
        <label for="email">Email Adress</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
            />
    </div>
    <div class = "form-group">
        <label for="firstName">Name</label>
        <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            placeholder="Enter name"
            />
    </div>
    <div class = "form-group">
        <label for="password1">Password</label>
        <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"
            />
    </div>
     <div class = "form-group">
        <label for="password1">Confirm password</label>
        <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
            />
    </div>
    <br>
    <button type="submit" class="btn btn-danger">Submit</button>
</form>
{%endblock %}