*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Libre Baskerville', serif;
}

body {
    background: #ffffe0;
}

.wrapper{
    width:770px;
    padding 35px;
    background: #fff;
    border-radius: 10px;
}

.wrapper .content-box{
    padding: 13 px 20 px 0;
    border:1px solid #ccc;
}

.red{
    color:red;
    font-weight: bold;
}

.green{
    color:green;
}